@{
    ViewBag.Title = "Home Page";
}

<div class="d">
    <img class="w" src="/Images/s.jpg" />
    <h1>IT UNIVERSITY</h1>
</div>

<header>
    <div>
        <h2 class="a">HIGHER IT EDUCATION</h2>
        <hr class="orange">
        <p>
            Our training programs are designed for those who want not only to obtain a diploma of higher education,
            but also to become a professional in the IT industry.
            Our students are employed in the specialty already in the 3rd year of study.
        </p>
    </div>
</header>

<nav class="height" id="start">
    <div class="my-div">
        <h2>We've got what you need!</h2>
        <hr class="light">
        <p class="text">
            The curricula of our university are unique author's methods that have been highly praised by the IT industry,
            and the teachers are practitioners from the largest IT companies in Ukraine. The university prepares bachelors
            and masters in specialties that are relevant in the IT market. Upon completion of their studies,
            students receive a diploma of higher education, and can also receive international certificates from industry
            leaders - Microsoft, Cisco, Autodesk.
        </p>
    </div>
</nav>

<nav class="nav-white" id="about">
    <div>
        <div>
            <h2>At Your Service</h2>
            <hr class="orange">
        </div>
        <div class="md row">
            <div class="div-float col-lg-4" id="service">
                <img class="small-img" src="~/Images/s1.png">
                <p class="text-2">Educational programs that meet the requirements of the IT market</p>
            </div>
            <div class="div-float col-lg-4">
                <img class="small-img" src="~/Images/s2.png">
                <p class="text-2">Modern material and technical base and information support</p>
            </div>
            <div class="div-float col-lg-4">
                <img class="small-img" src="~/Images/s3.png">
                <p class="text-2">Teachers-practitioners from IT companies who know the current needs of the market and the requirements for specialists</p>
            </div>
        </div>
        <div class="md row">
            <div class="div-float col-lg-4">
                <img class="small-img" src="~/Images/s4.png">
                <p class="text-2">Cooperation with IT companies and practice on real projects</p>
            </div>
            <div class="div-float col-lg-4" id="service">
                <img class="small-img" src="~/Images/s5.png">
                <p class="text-2">An environment for personal development and student initiatives</p>
            </div>
            <div class="div-float col-lg-4">
                <img class="small-img" src="~/Images/s6.png">
                <p class="text-2">Quality assurance system of the educational process that meets world standards</p>
            </div>
        </div>
    </div>
</nav>

<nav class="nav-no" id="portfolio">
    <div class="padding" id="portfolio">
        <div class="">
            <div class="text-center">
                <h3 class="txt-1 mb-0">Courses</h3>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cours 1</div>
                                <p class="mb-0">Web Developing</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/1.jpg">
                    </span>
                </div>
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cours 2</div>
                                <p class="mb-0">Programing</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/2.jpg">
                    </span>
                </div>
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Course 3</div>
                                <p class="mb-0"> </p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/3.jpg">
                    </span>
                </div>
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cours 4</div>
                                <p class="mb-0">Testing</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/4.jpg">
                    </span>
                </div>
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cours 5</div>
                                <p class="mb-0">Web Design</p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/5.jpg">
                    </span>
                </div>
                <div class="col-lg-4">
                    <span class="portfolio-item">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">Cours 6</div>
                                <p class="mb-0"></p>
                            </div>
                        </div>
                        <img class="img-fluid" src="../Images/6.jpg">
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>

<nav class="nav-white" id="contact">
    <div>
        <div>
            <h2>Training is based on three mandatory components of effective education</h2>
            <hr class="orange">
            <div class="md row">
                <div class="div-float col-lg-4" id="service">
                    <img class="small-img" src="~/Images/a1.png">
                    <h4>Current program</h4>
                    <p class="text-2">The knowledge and skills that our students receive must meet the requirements of employers today and in the future.</p>
                </div>
                <div class="div-float col-lg-4">
                    <img class="small-img" src="~/Images/a2.png">
                    <h4>Teachers - practitioners</h4>
                    <p class="text-2">Our teachers are specialists with experience in leading companies. In the classroom, students receive only relevant knowledge of real practice.</p>
                </div>
                <div class="div-float col-lg-4">
                    <img class="small-img" src="~/Images/a3.png">
                    <h4>Friendly atmosphere</h4>
                    <p class="text-2">We have created a special learning environment where teachers and students communicate on an equal footing. Our classrooms and laboratories are equipped with comfortable workplaces, computer equipment and licensed software.</p>
                </div>
            </div>
        </div>
    </div>
</nav>