body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkgray;
}

/* Set padding to keep content from hitting the edges */
.container {
    margin: 0;
    margin-left:8%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    text-align: center;
    opacity: 0.5;
    position: relative;
}

.d{
    text-align:center;
}

h1 {
    color:lightgray;
    font-size:100px;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

h2 {
    color: lightgray;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}